<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | BAND2BINKS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">

    <!-- Menu -->
    <nav class="bg-indigo-600 dark:bg-gray-800 shadow-lg">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <a href="/" class="text-white text-2xl font-bold">BAND2BINKS</a>
            <a href="/" class="text-gray-200 hover:text-white">Retour aux Packs</a>
        </div>
    </nav>

    <!-- Contenu de la documentation -->
    <div class="container mx-auto px-4 py-6">
        <h1 class="text-3xl font-bold mb-6">Comment utiliser BAND2BINKS ?</h1>
        <ul class="list-disc space-y-4 ml-8">
            <li>Entrez une <b>URL Bandcamp</b> dans le champ prévu.</li>
            <li>Cliquez sur <b>"Télécharger"</b> pour lancer le processus.</li>
            <li>Une liste des fichiers <b>MP3</b> apparaîtra sous forme de cartes en cliquant sur la flèche à gauche du Pack.</li>
            <li>Cliquez sur un fichier individuel pour le télécharger ou utilisez <b>"Télécharger tout"</b> pour récupérer un dossier compressé.</li>
            <li>Outil à utiliser pour un apprentissage du développement web uniquement. Ne pas utiliser chez soit illégalement dans le but de faire glow up vos Dj Set! </li>
        </ul>
    </div>
</body>
</html>
